<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="title"><%= Spree.t(:contact_us) %></h5>
                        <p><%= Spree.t(:foot_info) %></p>
                        <span><%= Spree.t(:orar) %></span><br><span>08:00 - 21:00</span>
                        <h6 class="text-light"><i class="fa fa-phone mr-5"></i>+373 69 667 531</h6>
                        <h6 class="text-light"><i class="fa fa-phone mr-5"></i>+373 78 495 757</h6>
                        <h6 class="text-light"><i class="fa fa-envelope mr-5"></i>office@bazineintex.com</h6>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title"><%= Spree.t(:products) %></h5>
                        <ul class="list alt-list" style="line-height: 12px;">
                            <% @taxon = Spree::Taxon.all %>
                            <% @taxon.take(6).each do |taxo| %>
                                <li><i class="fa fa-angle-right"></i><%=link_to(taxo.name, seo_url(taxo)) %></li>
                            <% end %>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title"><%= Spree.t(:informatione) %></h5>
                        <ul class="list alt-list">
                            <li><a href="/about"><i class="fa fa-angle-right"></i><%= Spree.t(:about_us) %></a></li>
                            <li><a href="/delivery"><i class="fa fa-angle-right"></i><%= Spree.t(:delivery) %></a></li>
                            <li><a href="/contact"><i class="fa fa-angle-right"></i><%= Spree.t(:contact_us) %></a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title text-center"><%= Spree.t(:intouch) %></h5>
                        <ul class="social-icons style2 text-center">
                            <li class="facebook"><a class="semi-circle" href="https://www.facebook.com/intexmoldova/"><i class="fa fa-facebook"></i></a></li>
                            <li class="dribbble"><a class="semi-circle" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                            <li class="instagram"><a class="semi-circle" href="https://www.ok.ru/profile/524154181477"><i class="fa fa-odnoklassniki"></i></a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-10">
                
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <p class="text-xs">©BAZINEINTEX.com 2017. Made with <i class="fa fa-heart text-danger"></i> on SOLIDUS by <a href="javascript:void(0);">Stefan. </a></p>
                    </div><!-- end col -->
                    <div class="col-sm-6 text-right">
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer>
