<!--<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six " data-hook><%#= logo img_options:{ class: 'img-responsive', width: '95' } %></figure>
          <%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  <%#= render :partial => 'spree/shared/nav_bar' %>
</header> -->
<header>

<div class="topBar inverse">
    <div class="container">
        <ul class="list-inline pull-left">
            <li><span class="text-primary"><%= Spree.t(:header_call) %></span> <%= Spree.t(:header_call_call) %> +373 69 667 531</li>
        </ul>
         <%= render :partial => 'spree/shared/locale_selector' %> <!-- genereaza limbile in dreapta -->
    </div><!-- end container -->
</div><!-- end topBar -->

<div class="middleBar">
    <div class="container">
        <div class="row table">
            <div class="col-sm-3 vertical-align text-left hidden-xs">
                    <%= logo img_options:{ class: 'img-responsive', width: '200' } %>
            </div><!-- end col -->
            <%= render :partial => 'spree/shared/search' %>
        <!-- Bagam Social Media /facebook /instagram /odno... -->    
            <div class="col-sm-3 vertical-align header-items">
                        <div class="header-item mr-5 ">
                            <a href="https://www.facebook.com/intexmoldova/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="facebook">
                                <i class="fa fa-facebook"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                        <div class="header-item">
                            <a href="javascript:void(0);" data-toggle="tooltip"  target="_blank" data-placement="top" title="" data-original-title="instagram">
                                <i class="fa fa-instagram"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                        <div class="header-item">
                            <a href="https://www.ok.ru/profile/524154181477"  target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="instagram">
                                <i class="fa fa-odnoklassniki"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                    </div><!-- end col -->
        </div><!-- end  row -->
    </div><!-- end container -->
</div><!-- end middleBar -->
<!-- scriptu desemneaza sticky navBar -->
<script>
  $(document).ready(function(){
    $("#sticker").sticky({topSpacing:0});
  });
</script>
  <!-- start navbar -->
        <div id="sticker" class="navbar yamm navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-3" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                        <%= logo img_options:{ class: 'navbar-brand visible-xs ', width: '100' } %>
                    
                </div>
                <div id="navbar-collapse-3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<%= root_path %>"><%= Spree.t(:home) %></a></li>
                        <li><%= link_to Spree.t(:about_us), about_index_path %></li>
                        <li><%= link_to Spree.t(:contact_us), contact_index_path %></li>
                        <li><%= link_to Spree.t(:delivery), delivery_index_path %></li>
                    </ul><!-- end navbar-nav -->
                </div><!-- end navbar collapse -->
            </div><!-- end container -->
        </div><!-- end navbar -->
</header>
        